.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  background-color: var(--bs-primary) !important;
  color: white !important;
  border-radius: 50% !important;
}

.react-datepicker__header,
.react-datepicker__header--time {
  background-color: white !important;
  cursor: default !important;
  height: 36px !important;
}

.react-datepicker__current-month {
  color: black !important;
}

.react-datepicker__day:hover {
  border-radius: 50% !important;
}

.react-datepicker__day-names {
  cursor: default !important;
}

.react-datepicker__time-list {
  overflow-y: scroll !important;
  scrollbar-width: none;
}

.react-datepicker__time-list::-webkit-scrollbar {
  display: none;
}

.react-datepicker__time-list-item--selected {
  background-color: var(--bs-primary) !important;
  color: white !important;
}

.datepicker-popup {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  max-width: 420px;
  display: flex;
  justify-content: center;
}