.desktop-logo {
  width: 40px;
  height: 40px;
}

.desktop-img {
  height: 580px;
  position: relative;
  z-index: 2;
}

.desktop-img-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (min-width: 1200px) {
  .desktop-min-vh-100 {
    min-height: 100vh !important;
  }
}