footer {
  z-index: 1;
}

.nav-link-set-width {
  width: 76px;
}

.nav-link-size {
  font-size: 0.7rem;
  transition: transform 0.2s ease;
}

.nav-icon-size {
  font-size: 1.5rem;
}

.footer-badge {
  position: absolute;
  top: 4px;
  left: 36px;
  transform: translate(50%, -50%);
  font-size: 0.7em;
  min-width: 1.5em;
  min-height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  z-index: 2;
  padding: 0;
}