header {
  z-index: 1;
}

.header-icon {
  background-image: url('/assets/logo-256x256.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
}