.login-header-icon {
    background-image: url('/assets/logo-256x256.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 6rem;
    height: 6rem;
}

.dynamic-map-ontop-login {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.dynamic-map-ontop-header {
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 1;
    max-width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.set-font-size {
    font-size: 2.4rem;
}

.set-font-size-login-modals {
    font-size: 2rem;
}

.set-width-login-modals {
    max-width: 900px;
}

.auto-resize-textarea {
    resize: none;
    overflow: hidden;
    min-height: 40px;
    max-height: 200px;
}