.trip-card-small-height {
  min-height: 5rem;
}

.trip-card-large-height {
  min-height: 5rem;

  @media (max-width: 425px) {
    margin-top: 30px !important;
  }
}

#trip-card-button-mobile-hide {
  @media (max-width: 425px) {
    display: none;
  }
}

#trip-card-button-desktop-hide {
  @media (min-width: 426px) {
    display: none;
  }
}

.trip-card-circle {
  width: 9px;
  height: 9px;
}

.trip-card-line {
  width: 1px;
  height: 2.8rem;
}

.trip-card-map-image {
  height: 240px;
  object-fit: cover;
  object-position: center;
}

.trip-card-profil-image-container {
  top: 10rem;
  right: 1rem;
}

.trip-card-profil-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.trip-card-time-width {
  max-width: 58px !important;
}

.trip-card-line-width {
  max-width: 30px !important;
}

.medium-font-size {
  font-size: 0.9rem;
}

.small-font-size {
  font-size: 0.8rem;
}

.trip-card-button-width {
  width: 100px;
}