.trip-card-small-height {
  min-height: 5rem;
}

.trip-card-large-height {
  min-height: 5rem;

  @media (max-width: 425px) {
    margin-top: 30px !important;
  }
}

#trip-card-button-mobile-hide {
  @media (max-width: 425px) {
    display: none;
  }
}

#trip-card-button-desktop-hide {
  margin-top: -8px;
  padding-bottom: 6px;

  @media (min-width: 426px) {
    display: none;
  }
}

.trip-card-circle {
  width: 9px;
  height: 9px;
}

.trip-card-line {
  width: 1px;
  height: 2.8rem;
}

.trip-card-map-image {
  height: 244px;
  max-width: 750px;
  background: #F3F2F8;
  object-fit: cover;
  object-position: center;
  clip-path: inset(20px 0 20px 0);
  margin-top: -20px;
  margin-bottom: -20px;
  display: block;
}

.trip-card-loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.trip-card-profil-image-container {
  top: 146px;
  right: 1rem;
}

.trip-card-profil-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.trip-card-time-width {
  max-width: 58px !important;
}

.trip-card-line-width {
  max-width: 30px !important;
}

.medium-font-size {
  font-size: 0.9rem;
}

.small-font-size {
  font-size: 0.8rem;
}

.trip-card-button-width {
  width: 100px;
}